<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Backbone.js Modal</title>
  <link rel="stylesheet" href="css/backbone-modal.css"/>
  <link rel="stylesheet" href="css/todos.css"/>
</head>

<body>
  
  <div id="todoapp">
    
    <header>
      <h1>Todos</h1>
      <input id="new-todo" type="text" placeholder="What needs to be done?">
    </header>

    <section id="main">
      <input id="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
      <ul id="todo-list"></ul>
    </section>

    <footer>
      <a id="clear-completed">Clear completed</a>
      <div id="todo-count"></div>
    </footer>
    
  </div>
  
  <div id="instructions">
    Click to edit a todo and add a description.
    <br />
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="twitterapi" data-lang="en">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  
  <div id="credits">
    Backbone Modal created by
    <br />
    <a href="http://philparsons.co.uk">Phil Parsons</a>
    <br />
    Todos created by
    <br />
    <a href="http://jgn.me/">J&eacute;r&ocirc;me Gravel-Niquet</a>.
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script src="lib/underscore.js"></script>
  <script src="lib/backbone-min.js"></script>
  <script src="lib/backbone-localstorage.js"></script>
  <script src="src/backbone-modal.js"></script>
  <script src="src/todos.js"></script>

  <!-- Templates -->

  <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
      <a href="#" class="edit"><%- title %></a>
      <% if (description) { %>
        <p class="item-desc"><%- description %></p>
      <% } %>
      <a class="destroy"></a>
    </div>
  </script>

  <script type="text/template" id="editor-template">
    <fieldset>
      <legend>Edit this todo</legend>
      <div class="row">
        <input class="title" type="text" name="title" value="<%- title %>">
      </div>
      <div class="row">
        <textarea rows="5" class="desc" name="desc" placeholder="more information&hellip;"><%- description %></textarea>
      </div>
      <div class="row buttons">
        <input id="is-done" class="is-done" type="checkbox" name="title" value="yes"<%= done ? ' checked' : ''%>>
        <label for="is-done">Done?</label>
        <input type="submit" name="save" value="Save">
      </div>
    </fieldset>
  </script>

  <script type="text/template" id="stats-template">
    <% if (done) { %>
      <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
    <% } %>
    <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
  </script>

  <a href="https://github.com/p-m-p/backbone-modal">
    <img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub">
  </a>


    <!-- DO NOT COPY MY ANALYTICS CODE BELOW THIS POINT ONTO YOUR SITE -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-10142508-2']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
